<!DOCTYPE HTML>
<html>
  <head>
    <title>Ryan Cho</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body id="top">
      <!-- Banner -->
      <section id="banner" data-video="assets/banner">
        <div class="inner">
          <header>
            <h1>Ryan Cho</h1>
            <h2>Editor. Director.</h2>
            <p>San Francisco freelance filmmaker desiring to inspire the world</p>
          </header>
          <a href="#about" class="more">Learn More</a>
        </div>
      </section>

      <!-- About -->
      <div class="container" id="about">
        <div class="row">
          <div class="col-lg-6">
            <%= image_tag("about.jpg") %>
          </div>
          <div class="col-lg-6">
            <h2 class="headline">About Me</h2>
            <p>Hello everyone! My name is Ryan Cho, a San Francisco filmmaker. My career direction is film directing and editing. After overcoming my high school+college mental health recovery story, I discovered that I wanted to inspire the world by creating stories of meaning and inspiration through the use of cinema. I am working for a startup company, do freelance film editing and also do film production gigs. My strengths in filmmaking are music videos, feature films, documentaries, live events and startups. I love challenging myself with different projects to grow as a filmmaker. I am looking for more opportunities in the film industry. I enjoy traveling, reading books, mental health advocacy (sharing my mental health story), going out with my friends, etc. when I'm not working in the entertainment industry.</p>
          </div>
        </div>
      </div>

      <!-- Main -->
      <div id="main">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="headline">Freelance Work</h2>
          </div>
        </div>
        <div class="inner">
          <!-- Boxes -->
          <div class="thumbnails">
            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic02.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic03.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic04.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic05.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic06.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

          </div>

        </div>
      </div>

      <!-- Main -->
      <div id="main">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="headline">Portfolio</h2>
          </div>
        </div>
        <div class="inner">
          <!-- Boxes -->
          <div class="thumbnails">
            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic02.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic03.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic04.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic05.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>

            <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="assets/images/pic06.jpg" alt="" /></a>
              <div class="inner">
                <h3>Nascetur nunc varius commodo</h3>
                <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact -->
      <div class="container" id="contact">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="headline">Contact Me</h2>
            <h3>If you're interested in contacting me, feel free! You can contact me via email, LinkedIn, text message or messaging me on my website. Can't wait to get in contact with you! </h3>
            <p>"Sometimes things need to fall apart to make way for better things."</p>

            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <p class="copyright"><a href="">COPYRIGHT © ERIC GONZALEZ, ALL RIGHTS RESERVED</a>.</p>
        </div>
      </footer>

    <!-- Scripts -->
    <%= javascript_include_tag 'jquery.scrolly.min.js' %>
    <%= javascript_include_tag 'jquery.poptrox.min.js' %>
    <%= javascript_include_tag 'skel.min.js' %>
    <%= javascript_include_tag 'util.js' %>
    <%= javascript_include_tag 'main.js' %>

  </body>
</html>